RewriteEngine on
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^ %{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
RewriteEngine on

DirectoryIndex textolite.php

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^.*$ textolite.php?q=$0 [L,NC,QSA]

<Files ~ "\.(ini|log)$">

deny from all

</Files>

Options -Indexes